@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

/* Simple utility for parallax overlay text */
.parallax-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
